<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.go.to.sub</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>1482B57B-388E-4944-AFF6-8BAD3BFB68BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05EBC522-8195-4564-9525-7FA0D4EA6340</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F09FDBA1-A245-4099-88C1-4CD44A3AC864</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>New</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>893325FF-CA33-4918-A831-39E8E704B4B7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Top (all)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C471EC9A-ACA5-45EC-BCE5-3A8090DE294B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Top (week)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32C3B89F-AF22-4FEE-B6C4-18042F842F35</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Top (month)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91D6FD5D-9A2D-41FF-A714-5D5A25161817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1482B57B-388E-4944-AFF6-8BAD3BFB68BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev &lt;nikita.voloboev@icloud.com&gt;</string>
	<key>description</key>
	<string>Go to any subreddit on Reddit</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Go to subreddit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/r/{query}/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>05EBC522-8195-4564-9525-7FA0D4EA6340</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/r/{query}/new</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F09FDBA1-A245-4099-88C1-4CD44A3AC864</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>goto</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>91D6FD5D-9A2D-41FF-A714-5D5A25161817</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sub</string>
				<key>subtext</key>
				<string>⌃ = new | ⌘ = top (all) | ⌥ = top (week) | fn = top (month)</string>
				<key>text</key>
				<string>Go to {query} subreddit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1482B57B-388E-4944-AFF6-8BAD3BFB68BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/r/{query}/top/?sort=top&amp;t=all</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>893325FF-CA33-4918-A831-39E8E704B4B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/r/{query}/top/?sort=top&amp;t=week</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C471EC9A-ACA5-45EC-BCE5-3A8090DE294B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/r/{query}/top/?sort=top&amp;t=month</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>32C3B89F-AF22-4FEE-B6C4-18042F842F35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05EBC522-8195-4564-9525-7FA0D4EA6340</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>1482B57B-388E-4944-AFF6-8BAD3BFB68BB</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>32C3B89F-AF22-4FEE-B6C4-18042F842F35</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>893325FF-CA33-4918-A831-39E8E704B4B7</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>91D6FD5D-9A2D-41FF-A714-5D5A25161817</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C471EC9A-ACA5-45EC-BCE5-3A8090DE294B</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>F09FDBA1-A245-4099-88C1-4CD44A3AC864</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/small-workflows</string>
</dict>
</plist>
