<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.month.numbers</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>57E7D8A0-DA41-457F-9FE1-154441AB917F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86EFED13-62E2-45A0-96FE-FDBB9E23A406</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86EFED13-62E2-45A0-96FE-FDBB9E23A406</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FD0DA9D-7238-4BCF-B96B-518BF96BC747</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev &lt;nikita.voloboev@icloud.com&gt;</string>
	<key>description</key>
	<string>Because I always forget</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Month numbers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>months</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>57E7D8A0-DA41-457F-9FE1-154441AB917F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"January (01)","arg":"01","subtitle":""},{"title":"February (02)","arg":"02","subtitle":""},{"title":"March (03)","arg":"03"},{"title":"April (04)","arg":"04"},{"title":"May (05)","arg":"05"},{"title":"June (06)","arg":"06"},{"title":"July (07)","arg":"07"},{"title":"August (08)","arg":"08"},{"title":"September (09)","arg":"09"},{"title":"October (10)","arg":"10"},{"title":"November (11)","arg":"11"},{"title":"December (12)","arg":"12"}]</string>
				<key>keyword</key>
				<string>months</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Press enter to copy the month number</string>
				<key>title</key>
				<string>Months numbers</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>86EFED13-62E2-45A0-96FE-FDBB9E23A406</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3FD0DA9D-7238-4BCF-B96B-518BF96BC747</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3FD0DA9D-7238-4BCF-B96B-518BF96BC747</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>57E7D8A0-DA41-457F-9FE1-154441AB917F</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>86EFED13-62E2-45A0-96FE-FDBB9E23A406</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/small-workflows</string>
</dict>
</plist>
