<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.imgur.album.download</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>95446AB9-64FB-4BCF-8818-917C5120DCF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58E90CE3-EDBD-4C4E-8054-50AB0EE6D4C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F53331FC-9DC6-45CD-9E6E-CDAC716D006B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBB4A5B4-F355-4828-BB8E-C481ACB2F414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A19307BB-668D-4FC8-9F98-19BF57B96A1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDA43ED3-631B-4E9C-8F6D-87519AA66311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF76F468-6D6A-43D4-BFE8-FB7D3FE35031</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95446AB9-64FB-4BCF-8818-917C5120DCF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD4203BA-9B48-4BBF-B4C7-BD2EB9D139FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95446AB9-64FB-4BCF-8818-917C5120DCF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF12E859-B3EB-479A-AF16-C4E05BCD3400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58E90CE3-EDBD-4C4E-8054-50AB0EE6D4C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F53331FC-9DC6-45CD-9E6E-CDAC716D006B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBB4A5B4-F355-4828-BB8E-C481ACB2F414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBB4A5B4-F355-4828-BB8E-C481ACB2F414</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>885DE6F9-0F81-4D2F-9336-9AC9769E014D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F53331FC-9DC6-45CD-9E6E-CDAC716D006B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A19307BB-668D-4FC8-9F98-19BF57B96A1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC040415-296D-4947-90F6-66724368FAC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58E90CE3-EDBD-4C4E-8054-50AB0EE6D4C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F53331FC-9DC6-45CD-9E6E-CDAC716D006B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBB4A5B4-F355-4828-BB8E-C481ACB2F414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Imgur album download</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>imgd</string>
				<key>subtext</key>
				<string>Imgur album must be open in your frontmost tab</string>
				<key>text</key>
				<string>Download Imgur album to Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD4203BA-9B48-4BBF-B4C7-BD2EB9D139FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Safari" to return URL of front document
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>95446AB9-64FB-4BCF-8818-917C5120DCF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/nikitavoloboev/small-workflows/master/imgur-album-download/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/nikitavoloboev/small-workflows/master/imgur-album-download/Imgur%20album%20download.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58E90CE3-EDBD-4C4E-8054-50AB0EE6D4C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Google Chrome" to return URL of active tab of front window
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>FC040415-296D-4947-90F6-66724368FAC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>download</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AF76F468-6D6A-43D4-BFE8-FB7D3FE35031</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Images are loaded into ~/Desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CDA43ED3-631B-4E9C-8F6D-87519AA66311</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python imguralbum.py {query} ~/Desktop</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A19307BB-668D-4FC8-9F98-19BF57B96A1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>^https:\/\/imgur.com\/a\/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F53331FC-9DC6-45CD-9E6E-CDAC716D006B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Google Chrome Canary" to return URL of active tab of front window
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>BF12E859-B3EB-479A-AF16-C4E05BCD3400</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Your current URL is not an Imgur album</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>885DE6F9-0F81-4D2F-9336-9AC9769E014D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^https:\/\/imgur.com\/a\/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DBB4A5B4-F355-4828-BB8E-C481ACB2F414</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to effectively use this workflow are found in the GitHub repository attached to this workflow.

Post any issues and feature requests you have there. 💜</string>
	<key>uidata</key>
	<dict>
		<key>58E90CE3-EDBD-4C4E-8054-50AB0EE6D4C1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>885DE6F9-0F81-4D2F-9336-9AC9769E014D</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>95446AB9-64FB-4BCF-8818-917C5120DCF0</key>
		<dict>
			<key>note</key>
			<string>Safari</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A19307BB-668D-4FC8-9F98-19BF57B96A1D</key>
		<dict>
			<key>note</key>
			<string>Download album to ~/Desktop

You can change the location inside the script</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>AF76F468-6D6A-43D4-BFE8-FB7D3FE35031</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>BD4203BA-9B48-4BBF-B4C7-BD2EB9D139FD</key>
		<dict>
			<key>note</key>
			<string>Attach this object to the browser you are using</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>BF12E859-B3EB-479A-AF16-C4E05BCD3400</key>
		<dict>
			<key>note</key>
			<string>Chrome Canary</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>CDA43ED3-631B-4E9C-8F6D-87519AA66311</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>DBB4A5B4-F355-4828-BB8E-C481ACB2F414</key>
		<dict>
			<key>note</key>
			<string>Check for Imgur album link</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>F53331FC-9DC6-45CD-9E6E-CDAC716D006B</key>
		<dict>
			<key>note</key>
			<string>Check for Imgur album link</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>FC040415-296D-4947-90F6-66724368FAC1</key>
		<dict>
			<key>note</key>
			<string>Chrome</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.4.3</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/small-workflows</string>
</dict>
</plist>
