<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.block.websites</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>2337DCB5-D355-4387-B1A7-97FF5C2EF512</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9EAF9BB-BA2E-4644-9DCC-38161F0477C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44369872-5E47-44C9-8556-8AA941F51BC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90C653B5-ABF9-4658-82F1-DB0EE4925691</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2337DCB5-D355-4387-B1A7-97FF5C2EF512</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90C653B5-ABF9-4658-82F1-DB0EE4925691</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>593A7218-EA63-4807-92B5-62977944BB5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC4D64CD-8E80-440E-93E6-39ECDF9B9A67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44369872-5E47-44C9-8556-8AA941F51BC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E98490E1-AD11-4855-86EC-56DA98B100EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A9730A7-3CF3-437E-8CC8-CD994A15B2F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev &lt;nikita.voloboev@icloud.com&gt;</string>
	<key>description</key>
	<string>Block websites</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>focus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DC4D64CD-8E80-440E-93E6-39ECDF9B9A67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>focus</string>
				<key>subtext</key>
				<string>1: = 1 hour</string>
				<key>text</key>
				<string>Focus for {query} minutes</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>44369872-5E47-44C9-8556-8AA941F51BC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open focus://focus?minutes=$1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>593A7218-EA63-4807-92B5-62977944BB5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>90C653B5-ABF9-4658-82F1-DB0EE4925691</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open focus://focus?minutes=60</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9EAF9BB-BA2E-4644-9DCC-38161F0477C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2337DCB5-D355-4387-B1A7-97FF5C2EF512</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open focus://preferences</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3A9730A7-3CF3-437E-8CC8-CD994A15B2F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>focus preferences</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open focus preferences</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E98490E1-AD11-4855-86EC-56DA98B100EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2337DCB5-D355-4387-B1A7-97FF5C2EF512</key>
		<dict>
			<key>note</key>
			<string>1: = (1 hour)</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>3A9730A7-3CF3-437E-8CC8-CD994A15B2F9</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>44369872-5E47-44C9-8556-8AA941F51BC6</key>
		<dict>
			<key>note</key>
			<string>Enter block mode for the time of minutes specified</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>593A7218-EA63-4807-92B5-62977944BB5C</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>90C653B5-ABF9-4658-82F1-DB0EE4925691</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>DC4D64CD-8E80-440E-93E6-39ECDF9B9A67</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E98490E1-AD11-4855-86EC-56DA98B100EF</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>F9EAF9BB-BA2E-4644-9DCC-38161F0477C6</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/small-workflows</string>
</dict>
</plist>
