<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.dictionary.lookup</string>
	<key>category</key>
	<string>mine</string>
	<key>connections</key>
	<dict>
		<key>5F5C6A87-B882-40D9-9D56-BD9AE04E8847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC2D5677-23D7-4D96-9C5C-91A64046E399</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC2D5677-23D7-4D96-9C5C-91A64046E399</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A63C8F0C-FDB8-4782-A7A8-18473BE14F93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev &lt;nikita.voloboev@icloud.com&gt;</string>
	<key>description</key>
	<string>Access dictionary with a hotkey</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dictionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>dict://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A63C8F0C-FDB8-4782-A7A8-18473BE14F93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>dictionary</string>
				<key>language</key>
				<string>en</string>
				<key>showallwords</key>
				<false/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search dictionary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.dictionaryfilter</string>
			<key>uid</key>
			<string>AC2D5677-23D7-4D96-9C5C-91A64046E399</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5F5C6A87-B882-40D9-9D56-BD9AE04E8847</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5F5C6A87-B882-40D9-9D56-BD9AE04E8847</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A63C8F0C-FDB8-4782-A7A8-18473BE14F93</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>AC2D5677-23D7-4D96-9C5C-91A64046E399</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/small-workflows</string>
</dict>
</plist>
